.landing-page,
.change-password {
  margin: $margin;
}

form {
  margin: $element-margin;
  max-width: 400px;
  input {
    margin-bottom: 10px;
  }
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.pet-connector-title {
  align-items: center;
  display: flex;
  flex-direction: column;
}
