body {
  font-family: 'Roboto', sans-serif;
  font-size: $body-font-size;
  line-height: $body-line-height;
}

.landing-page {
  color: $black-font-color;
  margin: $margin;
}

.alert-container {
  p {
    margin: 5px 0;
    text-align: center;
  }
}

.change-password,
.create-checklist,
.update-checklist {
  margin-left: 45px;
  padding: 45px 15px 30px;
  h2 {
    color: $black-font-color;
    margin-bottom: 20px;
  }
}

.sign-in-container,
.sign-up-container {
  margin-top: 25px;
  form {
    margin-bottom: 5px;
  }
  h2{
    color: $black-font-color;
  }
}

h1 {
  font-size: $header-font-size;
  line-height: $header-line-height;
}

h2 {
  font-size: $subheader-font-size;
  line-height: $subheader-line-height;
}

h3 {
  color: $black-font-color;
  font-weight: $bold-font-weight;
}

button {
  margin: 10px 0;
}

form {
  max-width: 400px;
  input,
  textarea {
    margin: 5px 0 20px;
  }
  label {
    margin: 0;
  }
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
  a {
    font-size: 16px;
  }
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: $black-font-color !important;
}

.pet-connector-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  h1{
    margin-bottom: 5px;
    margin-top: 25px;
  }
  p {
    color: $black-font-color;
    margin: 5px;
  }
}

.show-hide-buttons {
  margin: 25px 0;
}

.checklists-display {
  color: $black-font-color;
  margin: 0 50px;
}

.logo {
  img {
    height: auto;
    width: 200px;
  }
}

.card,
.modal-content {
  border-radius: 0;
}

.card {
  p {
    padding-left: 20px;
  }
}

.delete-edit-buttons {
  padding-left: 20px;
}

.card-header {
  text-align: center;
}
