@import url('https://fonts.googleapis.com/css?family=Roboto');

$body-font-size: 18px;
$body-line-height: 1.6;
$element-margin: 30px 0 0 0;
$header-line-height: 1.2;
$header-font-size: 40px;
$subheader-line-height: 1.25;
$subheader-font-size: 32px;
$bold-font-weight: 550;
$black-font-color: #111;
